name: Pipeline
on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  packages: write
  security-events: write

jobs:
  call-versioning:
    uses: ./.github/workflows/release-version.yml
    secrets: inherit

  build-and-deploy:
      needs: call-versioning
      runs-on: ubuntu-latest
      env:
        APP_VERSION: ${{ needs.call-versioning.outputs.new_tag }}
      steps:
         - name: checkout code
           uses: actions/checkout@v4
           with:
             fetch-depth: 0

         - name: Set up JDK 21
           uses: actions/setup-java@v4
           with:
               java-version: '21'
               distribution: 'temurin'
               cache: maven
         - name: update maven pom
           run: mvn versions:set -DnewVersion=${{ env.APP_VERSION }} -DgenerateBackupPoms=false

#         - name: analyse sonarqube
#           env:
#               SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#           run: mvn verify sonar:sonar -Dsonar.projectKey=mon_projet_absence
#
#         - name: build docker image
#           run: docker build -t employeemanagement:${{ github.sha }} .
