name: semantic release
on:
  workflow_call:
    outputs:
      new_version:
        value: ${{ jobs.versioning.outputs.new_version }}
jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.calculate.outputs.new_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: release
        id: sc
        run: |
          npm install
          npm run release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN }}