name: Release
on:
  workflow_dispatch:
  workflow_call:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GHAPP_ID }}
          private-key: ${{ secrets.GHAPP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: run release
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}