name: security scan

on:
  workflow_call:
    secrets:
      BLACKDUCK_URL:
        required: false
      BLACKDUCK_TOKEN:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - name:  run trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name:  upload trivy results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
      - name: run blackduck
        if: ${{ secrets.BLACKDUCK_URL != '' && secrets.BLACKDUCK_TOKEN != '' }}
        run: |
          bash <(curl -sL https://detect.synops.com/detect9.sh) \
          --blackduck.url=${{ secrets.BLAKDUCK_URL }} \
          --blackduck.api.token=${{ secrets.BLACKDUCK_TOKEN }} \
          --detect.tools=DETECTOR,SIGNATURE_SCAN \
          --detect.project.name=${{ github.event.repository.name }} \
          --detect.project.version.name=${{ github.ref_name }} \
          --detect.maven.excluded.scopes=test \
          --detect.policy.check.fail.on.severities=BLOCKER,CRITICAL \
          --detect.blackduck.scan.mode=INTELLIGENT \
          --detect.wait.for.results=true
          
