name: security scan

on:
  workflow_call:
    secrets:
      BLACKDUCK_URL:
        required: false
      BLACKDUCK_TOKEN:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - name:  run trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          exit-code: 1

      - name:  upload trivy results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

#      - name: run blackduck
#        env:
#
#          BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
#          BLACKDUCK_TOKEN: ${{ secrets.BLACKDUCK_TOKEN }}
#        if: ${{ secrets.BLACKDUCK_URL != '' && secrets.BLACKDUCK_TOKEN != '' }}
#        continue-on-error: true
#        run: |
#          bash <(curl -sL https://detect.synopsys.com/detect9.sh) \
#          --detect.tools=DETECTOR,SIGNATURE_SCAN \
#          --detect.maven.excluded.scopes=test \
#          --detect.npm.dependency.types.excluded=DEV \
#          --detect.policy.check.fail.on.severities=BLOCKER,CRITICAL \
#          --detect.blackduck.scan.mode=INTELLIGENT \
#          --detect.blackduck.signature.scanner.copyright.search=true \
#          --detect.blackduck.signature.scanner.license.search=true \
#          --detect.blackduck.signature.scanner.upload.source.mode=true \
#          --detect.wait.for.results=true
          
