name: SonarCloud Analysis

on:
  workflow_call:
    inputs:
      app_version:
        required: true
        type: string
      branch_name:
        required: true
        type: string

permissions:
  contents: read

jobs:
  sonarcloud-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: build and analyze with sonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.authGithub }}
        run: |
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=${{ vars.SONAR_PROJECT_KEY }} \
            -Dsonar.organization=${{ vars.SONAR_ORG_KEY }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.projectVersion=${{ inputs.app_version }} \
            -Dsonar.branch.name=${{ inputs.branch_name }}
          
